services:
  nginx:
    restart: always
    depends_on:
      - php
    image: leriugulava/laravel-nginx
    ports:
      - '80:80'
  php:
    restart: always
    env_file:
      - .env
    volumes:
      - ./.env:/var/www/html/.env
    image: leriugulava/laravel-php
  mysql:
    image: mysql
    volumes:
      - data:/var/lib/mysql
      - ./.env:/var/www/html/.env
    ports:
      - '3306:3306'
    env_file:
      - .env
    environment:
      - MYSQL_ROOT_PASSWORD=${DB_PASSWORD}
      - MYSQL_DATABASE=${DB_DATABASE}
volumes:
  data:
